In [4]:
import sqlite3

In [6]:
db=sqlite3.connect('employees.sqlite')
db

In [7]:
cur=db.cursor()
cur

In [9]:
sql_query='Create table employee(employee_id int primary key,name text ,age int , department text, salary int)'

cur.execute(sql_query)

In [15]:
cur.execute('Insert into employee values(102,"abhishek",26,"operations",60000)')
db.commit()

In [16]:
cur.execute('Insert into employee values(103,"aman",24,"human resources",70000)')
db.commit()

In [19]:
cur.execute('Drop employee set employee_id=101')
db.commit()

OperationalError: near "employee": syntax error

In [21]:
import sqlite3
db=sqlite3.connect('employees.sqlite')
db
cur=db.cursor()
cur




employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]
cur.execute('Insert into employee values(?,?,?,?,?)',(employee_id,name,age,department,salary))
db.commit()
print("done")

InterfaceError: Error binding parameter 0 - probably unsupported type.

In [26]:
db.close()

In [34]:
db=sqlite3.connect('Employees_detail.sqlite')
db
cur=db.cursor()
cur
sql_query='Create table Employees_detail(employee_id int ,name text,age int,department text,salary int)'

values=[(101,"Aadarsh",25,"Marketing",50000),(102,"Aarti",27,"Operations",60000),(103,"Aadarsh",25,"Marketing",50000)]
cur.executemany('Insert into Employees_detail values (?,?,?,?,?)',values)
db.commit()

In [25]:
values=[(101,"Aadarsh",25,"Marketing",50000),(102,"Aarti",27,"Operations",60000),(103,"Aadarsh",25,"Marketing",50000)]
cur.executemany('Insert into employee values (?,?,?,?,?)',values)
db.commit()

IntegrityError: UNIQUE constraint failed: employee.employee_id